<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "basketball search", '#', id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "basketball searchとは？",   '#' %></li>
          <li><%= link_to "ログイン", user_session_path %></li>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to "マイページ", user_path(current_user) %></li>
            <li><%= link_to "投稿", new_post_path, class: "btn btn-primary" %></li>
            <li><%= button_to "サインアウト", destroy_user_session_path, method: :delete %></li>
          <% end %>
        </ul>
      </nav>
  </div>
</header>
