    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <%= link_to "basketball search", root_path, class: "navbar__brand navbar__mainLogo" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-md-auto align-items-center">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "basketball searchとは？", pages_about_path %></li>
          <li><%= link_to "ログイン", user_session_path %></li>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
          <% if user_signed_in? %>
            <%= link_to "マイページ", user_path(current_user), class: "nav-link commonNavIcon profile-icon" %>
            <li><%= link_to "投稿", new_post_path, class: "btn btn-primary" %></li>
            <li><%= button_to "サインアウト", destroy_user_session_path, method: :delete %></li>
          <% end %>
          </ul>
        </div>
      </div>
    </nav>
