<% provide(:title, "ログイン") %>
<div class="main">
  <div class="card devise-card">
    <div class="form-wrap">
      <div class="form-group text-center">
        <h2 class="logo-img mx-auto">ログイン</h2>
      </div>
      <%= form_with scope: resource, as: resource_name, url: session_path(resource_name), local: true do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="form-group">
          <label for="user_email">テストユーザーの方は「example@example.com」をご利用ください。</label>
          <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: "form-control", id: "user_email" %>
        </div>
        <div class="form-group">
          <label for="user_password">テストユーザーの方は「foobar」をご利用ください。</label>
          <%= f.password_field :password, autocomplete: "off", placeholder: "パスワード", class: "form-control", id: "user_password" %>
        </div>
        <div class="actions mt-3">
          <%= f.submit "ログインする", class: "btn btn-primary w-100" %>
        </div>
      <% end %>
      <br>
      <p class="devise-link">
        アカウントをお持ちでないですか？
        <%= link_to "登録する", new_user_registration_path %>
      </p>
    </div>
  </div>
</div>
